#!/usr/bin/env bash

# Make aliases work with sudo
alias sudo="sudo "

# Set up thefuck TODO this doesn't work in fish
if which thefuck >/dev/null 2>&1; then
  eval $(thefuck --alias)
fi

alias please='sudo $(fc -ln -1)'
alias pls=please
alias vim=nvim
alias vimdiff="nvim -d"
alias l=k
alias gs="git s"

# misspellings
alias gti=git
alias tit="echo 😱 && git"

alias qbswagger="swagger_swagger_fileName=./lib/api/swagger/swagger.yaml swagger project edit"
