#!/usr/bin/env bash

# Make aliases work with sudo
alias sudo="sudo "

# Set up thefuck TODO this doesn't work in fish
if which thefuck >/dev/null 2>&1; then
  eval $(thefuck --alias)
fi

alias please='sudo $(fc -ln -1)'
alias pls=please
alias vim=nvim
alias vimdiff="nvim -d"
alias l=k
alias la="k -a"
alias gs="git s"

# Run git status on all folders inside the current directory
alias gsr="find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '(echo {} && cd {} && git status -sb && echo)' \;"

# misspellings
alias gti=git
alias tit="echo 😱 && git"

alias ci=circleci
