#!/usr/bin/env bash

#export TERM=xterm-256color
export EDITOR=nvim

export FZF_DEFAULT_COMMAND='rg --files --hidden --smart-case --glob "!.git/*"'
export PATH="/usr/local/bin:$PATH:$HOME/Library/Android/sdk/platform-tools:$HOME/.cargo/bin"
