[user]
	name = Matt Rathbun
	email = 5514636+mattbun@users.noreply.github.com
[diff]
	tool = vimdiff
[alias]
	s = status
	last = log -1 HEAD
[mergetool]
	path = nvim
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[core]
	pager = (diff-so-fancy || cat) | less --tabs=4 -RFX
