[user]
	name = Matt Rathbun
	email = matt@rathbun.cc
[diff]
	tool = vimdiff
[alias]
	s = status
	last = log -1 HEAD
[mergetool]
	path = nvim
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
