set hlsearch
set ignorecase
set incsearch
set surround
set visualbell  "disable sounds

"use system clipboard by default
set clipboard=unnamedplus

"oo to insert a new line below where you are, OO to insert above
nmap oo o<Esc>k
nmap OO O<Esc>j

"Accidentally making everything lower case is no fun :(
vmap u <nop>
vmap U <nop>

map \b :action MakeGradleProject<CR>
map \r :action Run<CR>
map \f :action SearchEverywhere<CR>
map \d :action Debug<CR>
map \i :action Android.HotswapChanges<CR>
